*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 1700px;
    font-family: vazir;
}
@font-face{
    font-family:vazir ;
    src: url(Vazir-Bold-FD-WOL.ttf);
}
:root{
    --maincolor: #e9ecef;
    --colo2: #219ebc;
    --colo3: #7209b7;
    --color4: #cdb4db;
    --colo5: #52b788;
    --textcolor: #333;
    --cartcolor:#ba181b;
    --yellow:#ffa62b;
    --white:#fff;
    --maincolor2:#adb5bd;
    --maincolor3:#6c757d;
    --textcolor2:#555;
    --fontsize:0.8em;
    --fontsize2:0.9em;
    --fontsize3:1em;
    --whiteornot:#e5e6e4;
    --purpule1:#9d4edd;
    --transition:border 3s ; 
    --padding:2px;
    --margin-bottom:8px;
    --margin-top:40px;
    --red:#d62828;
    --instagram:#a01a58;
}
i{
    cursor: pointer;
}
body{
    display: grid;    
    grid-template-columns: repeat(6,1fr);
    gap: 17px;
   
}
/* header style */
header{
    background-color: var(--maincolor);
    grid-column: 1/-1;
    /* border-bottom: 1px solid var(--textcolor); */
    padding: 2px;
    box-shadow: 0 2px 3px 0 var(--textcolor);
    
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 70px;
}
.nav-bar a:hover{
    border-bottom: 1px solid #7209b7;
    opacity: 50%;
}
.nav-bar a{
    align-self: flex-end;
    margin-right: 20px;
    font-size: 0.8em;
    text-decoration: none;
    color:var(--textcolor) ;
    opacity: 100%;
    transition: opacity 2s ease-in;
}

.nav p{
    font-family: Arial, Helvetica, sans-serif;

}
.nav p::first-letter{
    color:var(--yellow) ;
}
.nav p:hover{
    font-weight: bold;
}
.nav i{
    color: var(--colo3);
}
/* header style */

.aside{
    /* background-color: var(--colo3); */
    grid-column: 1/2;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    
}
.img-online1,.img-online2 img{
    width: 100%;
    height: auto;
}
.img-online1,.img-online2 span{
    display: block;
    text-align: center;
    color: var(--textcolor);
    animation: span 5s infinite;
}
@keyframes span{
    from{color: var(--textcolor);}
    to{color: var(--colo3);}
}
.aside-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.aside-items span{
    border-bottom: 1px dashed var(--colo3);
    margin: 10px 0;
}

.content{
    background-color: var(--white);
    grid-column: 2/6;
    border-radius: 5px;  
    box-shadow: 1px 1px 2px 0 var(--maincolor3),-1px -1px 2px 0 var(--maincolor3);
}
section{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;  
}
.pro-img1,.pro-img2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 1px 3px 2px 0 var(--textcolor2), -1px -1px 2px 0 var(--textcolor2) ;
  border-radius: 5px;
  width: 45%;
  margin:10px 12px;
  padding: 3px;
}
.pro-img3,.pro-img4,.pro-img5,.pro-img6{
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  box-shadow: 1px 3px 2px 0 var(--textcolor2), -1px -1px 2px 0 var(--textcolor2) ;
  border-radius: 5px;
  width: 45%;
  margin:6px 12px;
  padding:3px;
}
.pro-img1 img{
    width: 50%;
    height: auto;
    align-self: center;
}
.icon,.icon2,.icon3,.icon4,.icon5,.icon6 {
    align-self:flex-end ;
    color: var(--colo3);
}
.icon i,.icon2 i,.icon3 i,.icon4 i,.icon5 i,.icon6 i{
    font-size: 1.1em;
    padding-left:5px ;
}
.icon i:hover,.icon2 i:hover,.icon3 i:hover,.icon4 i:hover,.icon5 i:hover,.icon6 i:hover{
    color: var(--yellow)
}
.qeymat,.qeymat2,.qeymat3,.qeymat4,.qeymat5,.qeymat6{
    align-self: center;
    color: var(--textcolor);
}
.name,.name2,.name3,.name4,.name5,.name6{
    align-self: center;
    margin-top: 5px;
    color: var(--textcolor);
}
.pro-img2 img{
    width: 39%;
    height: auto;
    align-self: center;
}
.pro-img3 img{
    width: 55%;
    height: auto;
    align-self: center;
    /* padding-top: 12.4px; */
}
.pro-img4 img{
    width: 42%;
    height: auto;
    align-self: center;
    /* padding-top: 10px; */
}
.pro-img5 img{
    width:37%;
    height: auto;
    align-self: center;
    padding-top: 10px;
}
.pro-img6 img{
    width: 43%;
    height: auto;
    align-self: center;
}
.article{
    background-color: var(--white);
    grid-column: 6/7;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.img-article{
    width: 70%;
    height: auto;  
}
audio{
    width: 97%;
    height: auto;
    margin-top: 20px;
}
form{
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   align-items: center;
   margin-top: 60px;   
}
.name-input,.tel-input,.datalist{
    margin-bottom: 15px;
    width: 80%;
    outline: none;
    border: 1px solid var(--colo3);
    border-radius: 5px;
    font-size: var(--fontsize);
    box-shadow: 2px 8px 4px 0 var(--whiteornot);
    transition:var(--transition);
    padding: var(--padding);

}
.name-input:hover,.tel-input:hover,.datalist:hover{
    border: 1px solid var(--yellow);
}

label{
    font-size: var(--fontsize);
}
.submit-article{
    color: var(--colo3);
    font-size: var(--fontsize);
    width: auto;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--colo3);
    box-shadow: 0 3px 3px 0 var(--maincolor3) ;
    background-color: var(--white);
    margin-top: 15px;
    animation: border 7s infinite;
}
@keyframes border{
  from{border: 1px solid var(--colo3);}
  to{border: 1px solid var(--yellow)}
}
.footer{
    background-color: var(--maincolor);
    grid-column: 1/-1;
    box-shadow: 0 -1px 4px 0 var(--maincolor3);
}

h3{
    text-align: center;
    word-spacing: 6px;
    margin-top: 5px;
    font-size: var(--fontsize2);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.container span{
    margin-bottom: var(--margin-bottom);
    font-size: var(--fontsize);
    color: var(--maincolor3);
}
.container p{
    margin: var(--margin-bottom);
    font-size: var(--fontsize2);

}
.column1-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
 .column2-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.column3-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icon-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:var(--margin-top);
}
.icon-footer,.youtube{
    color: var(--red);
}
.icon-footer,.instagram{
    color: var(--instagram);
}
.icon-footer,.telegram{
 color: #0466c8;
}
.icon-footer,.linkedin{
color: #0a66c2;
}
.icon-footer i{
    transition:box-shadow 1s ease-in-out;
    
    
}
.icon-footer i:hover{
    box-shadow:0 3px 2px 0 var(--maincolor3) ;
    opacity: 70%;
    border-radius: 4px;
}
.p-footer{
    text-align: center;
    word-spacing: 3px;
    font-size: var(--fontsize);
}

@media screen and (max-width:1000px) {
    .article{
        display: none;
    }
    .content{
        grid-column: 2/7;
    }
    section{
        display: flex;  
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;  
    }
    .pro-img1,.pro-img2,.pro-img3,.pro-img4,.pro-img5,.pro-img6{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      box-shadow: 1px 3px 2px 0 var(--textcolor2), -1px -1px 2px 0 var(--textcolor2) ;
      border-radius: 5px;
      width: 80%;
      margin:10px 12px;
      padding: 3px;
    }
    .qeymat,.qeymat2,.qeymat3,.qeymat4,.qeymat5,.qeymat6{
        align-self: center;
        color: var(--textcolor);
        font-size: var(--fontsize);
    }
    .name,.name2,.name3,.name4,.name5,.name6{
        align-self: center;
        margin-top: 5px;
        color: var(--textcolor);
        font-size: var(--fontsize);
    }

    .pro-img2 img{
        width: 37%;
        height: auto;
        align-self: center;
    }
    .pro-img3 img{
        width: 53%;
        height: auto;
        align-self: center;
        /* padding-top: 12.4px; */
    }
    .pro-img4 img{
        width: 40%;
        height: auto;
        align-self: center;
        /* padding-top: 10px; */
    }
    .pro-img5 img{
        width:35%;
        height: auto;
        align-self: center;
        padding-top: 10px;
    }
    .pro-img6 img{
        width: 41%;
        height: auto;
        align-self: center;
    }

}
@media screen and (max-width:750px){
    .pro-img1,.pro-img2,.pro-img3,.pro-img4,.pro-img5,.pro-img6{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        box-shadow: 1px 3px 2px 0 var(--textcolor2), -1px -1px 2px 0 var(--textcolor2) ;
        border-radius: 5px;
        width: 92%;
        margin:10px 12px;
        padding: 3px;
      
      }
  
      .qeymat,.qeymat2,.qeymat3,.qeymat4,.qeymat5,.qeymat6{
          align-self: center;
          color: var(--textcolor);
          font-size: var(--fontsize);
      }
      .name,.name2,.name3,.name4,.name5,.name6{
          align-self: center;
          margin-top: 5px;
          color: var(--textcolor);
          font-size: var(--fontsize);
      }
  
}
@media screen and (max-width:500px){
       .article{
           display: none;
       }
       .content{
           grid-column: 1/7;
           
       }
       section{
        display: flex;  
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;  
    }
    .pro-img1,.pro-img2,.pro-img3,.pro-img4,.pro-img5,.pro-img6{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      box-shadow: 1px 3px 2px 0 var(--textcolor2), -1px -1px 2px 0 var(--textcolor2) ;
      border-radius: 5px;
      width: 94%;
      margin:10px 12px;
      padding: 3px;
    
    }
    .qeymat,.qeymat2,.qeymat3,.qeymat4,.qeymat5,.qeymat6{
        align-self: center;
        color: var(--textcolor);
        font-size: var(--fontsize);
    }
    .name,.name2,.name3,.name4,.name5,.name6{
        align-self: center;
        margin-top: 5px;
        color: var(--textcolor);
        font-size: var(--fontsize);
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        height: 70px;
    }
    .nav-bar a{
        align-self: center;
        margin-right: 20px;
        font-size: 0.8em;
        text-decoration: none;
        color:var(--textcolor) ;
        opacity: 100%;
        transition: opacity 2s ease-in;
        margin-top: 3px;
    }
       .aside{
           display: none;
       }

       .column1-footer{
       display: none;
        
    }
     .column2-footer{
        display: none;   
    }
    .column3-footer{
        display: none;
    }
    .icon-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* margin:var(--margin-top); */
    }

    }